<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link type="text/css" rel="stylesheet" href="../public/css/common_color.css">
    <link type="text/css" rel="stylesheet" href="../public/css/materialize.css">
    <link type="text/css" rel="stylesheet" href="../public/css/memo_style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="../public/resource/icon/favicon.ico">

    <title>메모</title>
</head>

<body class="memolist-body-bg">

    <!-- 검색 -->
    <nav class="search-bg">
    </nav>

    <!-- 메모 리스트 -->
    <div id="memo_list" class="memolist-bg">
    </div>

    <!-- 플로팅 버튼 -->
    <div class="floating-add-memo-bg" onclick="location.href='./addMemo'"></div>

    <!-- [s] 상세 보기 레이아웃 -->
    <div id="detail_root" class="detail-bg">
        <div class="detail-fg">
            <img src="../public/resource/close_white.svg" class="detail-close-btn"
                onclick="javascript:showDetailHidden();">

            <!-- 태그 색상 -->
            <div id="tag" class="tag_color detail-header-tag"></div>

            <div style="display:block; width: 100%; padding: 10px;">
                <!-- 타이틀 -->
                <input id="title" type="text" class="detail-title detail-title" data-length="40"></input>
                <!-- 내용 -->
                <textarea id="contents" class="detail-contents" data-length="400"></textarea>
                <div id="etc_tags" style="display: none;"></div>
                <div style="margin:10px;">
                    <!-- 태그 색상 -->
                    <a id="selected_tag" class="dropdown-trigger btn" style="float: left;"
                        data-target='tag_selector'></a>

                    <!-- 태그 선택창 Structure -->
                    <ul id="tag_selector" class="dropdown-content">
                        <li><a onclick="javascript:selectedTag(1);">빨강</a></li>
                        <li><a onclick="javascript:selectedTag(2);">주황</a></li>
                        <li><a onclick="javascript:selectedTag(3);">노랑</a></li>
                        <li><a onclick="javascript:selectedTag(4);">초록</a></li>
                        <li><a onclick="javascript:selectedTag(5);">파랑</a></li>
                        <li><a onclick="javascript:selectedTag(6);">보라</a></li>
                        <li><a onclick="javascript:selectedTag(7);">기타</a></li>
                    </ul>
                    <!-- 수정 -->
                    <a class="waves-effect wave-light btn update_memo" style="float:right;">수정</a>
                </div>
            </div>

        </div>
    </div>
    <!-- [e] 상세 보기 레이아웃 -->

    <script type="text/javascript" src="../public/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../public/js/materialize.js"></script>
    <script type="text/javascript" src="../public/js/memoList.js"></script>
</body>

</html>